@charset "ISO-8859-1";

:root{
	--line-border-fill:#3498db;
	--line-border-empty:#e0e0e0;
	--page-background-color:#f5f3e7;
}

body{
	margin:2%;
	background: var(--page-background-color);
}

*{
width:-webkit-fill-available;
margin:3px;	
}

.error{
	display:none;
	font-weight:bold;
	color:red;
	width:60%;
	margn:10px;
}

.errormsg{
	font-weight:bold;
	color:red;
}

.successmsg{
	font-weight:bold;
	color:green;
}

/*
.progress-container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	postive:relative;
}

.progress-container::before{
	content:'';
	background-color:var(--line-border-empty);
	position:absolute;
	top:50%;
	left:0;
	height:4px;
	width:100%;
	transform:translateY(-50%);
	z-index:-1;
}



.circle{
	color:#999;
	border-radius:50%;
	height:30px;
	width:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	border:3px solid var(--line-border-fill);
	transition:0.4s ease;		
}




.circle.active{
	border-color:var(--line-border-fill);
	color:#999;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	border:3px solid var(--line-border-fill);
	margin-left:10px;
}

.postblueline{
	width:100%;
	height:10px;
	background-color:var(--line-border-fill);
	justify-content:center;
	align-items:center;
	transform:translateY(150%);
}

.postemptyline{
	width:100%;
	height:10px;
	background-color:var(--page-background-color);
	justify-content:center;
	align-items:center;
	transform:translateY(150%);
}

.verticaldiv{
	float:left;
	height:10px;
}

.postlinebox{
	display:flex;
	flex-direction:column;
	height:20px;
	width:100%;
}
*/